<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<!-- 开启驼峰自动映射 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 设置方言 -->
			<property name="dialect" value="mysql" />
			<!-- 该参数默认为false -->
			<!-- 设置为true之后，使用rowBoundsWithCount分页，会进行count查询 -->
			<property name="rowBoundsWithCount" value="true" />
		</plugin>

		<!-- 配置通用mapper -->
		<plugin interceptor="com.github.abel533.mapperhelper.MapperInterceptor">
			<!-- 主键自增 -->
			<property name="IDENTITY" value="MYSQL" />
			<!-- 通用mapper接口，多个通用的接口，用逗号隔开 -->
			<property name="mappers" value="com.github.abel533.mapper.Mapper" />
		</plugin>
	</plugins>
</configuration> 